<fieldset class="add_location">
  <input id="searchTextField" class="maps_autocomplete" type="text" placeholder="search location" name="address" required>
  <input type="hidden" id="location_Lat" name="location_Lat" />
  <input type="hidden" id="location_Lng" name="location_Lng" />  

  <label for="photo"><h3>add photo</h3></label>
  <input type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg"/>     
</fieldset>