<% include partials/head.ejs %>

    <section class="log-in">
        <h1>login</h1>

        <!-- Show pop up message after user updates game -->
        <% if(locals.flashes) { %>
        <% var categories =  Object.keys(flashes); %>
        <% categories.forEach(function (cat) { %>
            <% flashes[cat].forEach(message => { %>
                <div class="flash-message"> 
                <p><%= message %></p> 
                </div>
            <% }) %>
        <% }) %>
        <% } %>

        <section class="">
            <form action="/login" method="post">
                <fieldset class="create_user">
                    <input type="text" name="username" value="" autofocus required>
                    <input type="password" name="password" value="" required>
                </fieldset>
                
                <input type="submit" value="login">
            </form>
        </section>
    </section>

<% include partials/footer.ejs %>
