<% include partials/head.ejs %>

    <section class="login">
        <!-- Show pop up message after user updates game -->
        <% if(locals.flashes) { %>
        <% var categories =  Object.keys(flashes); %>
        <% categories.forEach(function (cat) { %>
            <% flashes[cat].forEach(message => { %>
                <div class="flash-message"> 
                <p><%= message %></p> 
                </div>
            <% }) %>
        <% }) %>
        <% } %>

        <div class="login_section">
            <h1>login to weather app ☀️</h1>
            <form action="/login" method="post" class="add_location-form">
                <fieldset class="create_user">
                    <label for="username"><h3>username</h3></label>
                    <input type="text" name="username" value="" autofocus required>

                    <label for="password"><h3>password</h3></label>
                    <input type="password" name="password" value="" required>
                </fieldset>
                
                <input type="submit" value="login">
            </form>
        </div>
    </section>

<% include partials/footer.ejs %>
